.top-pad {
    margin-top: 2%;
}

.bg-gray {
    background-color: #DCDCDC;
}

.txt-gray {
    color: rgb(45, 45, 45);
}

.line-black {
    color: black;
}

.text-bold-extra {
    font-weight: 650;
}

.text-bold-normal {
    font-weight: 600;
}

.link-thin {
    font-weight: 300;
}

.sup-thin {
    font-size: 8pt;
}