.top-pad {
    margin-top: 2%;
}

.bg-gray {
    background-color: #DCDCDC;
}

.line-black {
    color: black;
    margin: -2;
}

.text-bold-extra {
    font-weight: 650;
}

.text-bold-normal {
    font-weight: 600;
}

.txt-big {
    font-size: 18pt;
}

.txt-small {
    font-size: 10pt;
}

.txt-gray {
    color: rgb(45, 45, 45);
}

.link-thin {
    font-weight: 300;
}

.sup-thin {
    font-size: 8pt;
    top: -2ex;
}

.sup-decor {
    text-decoration: none;
}